@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

.header {
  width: 100%;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-color: #000;
  font-family: "Oswald", sans-serif;
  font-size: 4vw;
  font-weight: bold;
  padding-bottom: 10px;
  box-shadow: 0px 2px 12px #ea2027;
  color: white;
  z-index: 100;
}

@media (max-width: 1000px) {
  .header {
    padding-top: 10px;
    font-size: 6.4vw;
  }
}
